/*This file contains all styles related to the button component.*/

.btn {
  padding: 0.7em 1.5em 0.5em 1.5em;
  color: #3d9ff8;
  border: 2px solid #3d9ff8; 
  border-radius: 2px;
  text-decoration: none;
  user-select: none;
  display: inline-block;
}

.btn:hover {
  color: white;
  background-color: #3d9ff8;
}

.btn + .btn {
  margin-left: 1em;
}

.btn--loading {
  color: white;
  background-color: #3d9ff8;
}
